<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width-device-width, initial-scale=1.0" />
        <title>SGAP</title>
        {% load static %}
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body class="container">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>

                {% if user.is_authenticated %}
                <li>
                    <a href="/citas">Citas</a>
                </li>

                <li>
                    <a href="/logout">Cerrar sesión</a>
                </li>
                {% else %}
                <li>
                    <a href="/signin">Iniciar Sesion</a>
                </li>

                <li>
                    <a href="/signup">Registrarse</a>
                </li>

                {% endif %}
            </ul>
        </nav>

        <div class="container">{% block content %} {% endblock %}</div>
    </body>
</html>
