{% extends 'base.html' %} {% block content %}

<h1 class="text-center mt-3 mb-3">Citas</h1>
<a href="/citas_confirmadas" class="btn btn-primary">Citas confirmadas</a>
<a href="/citas_pendientes" class="btn btn-warning">Citas pendientes</a>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Matricula</th>
      <th scope="col">Apellido Paterno</th>
      <th scope="col">Apellido Materno</th>
      <th scope="col">Nombre</th>
      <th scope="col">Asunto</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Comentarios</th>
      <th scope="col">Estado</th>
      {% if user.username == 'espy' or user == 'orientador' %}
      <th scope="col">Acciones</th>
      {% else %}
      <th scope="col">Detalle</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for cita in citas %}
    <tr>
      <td>{{ cita.matricula }}</td>
      <td>{{ cita.apellido_paterno }}</td>
      <td>{{ cita.apellido_materno }}</td>
      <td>{{ cita.nombre }}</td>
      <td>{{ cita.asunto }}</td>
      <td>{{ cita.descripcion }}</td>
      <td>{{ cita.comentarios }}</td>
      <td>{{ cita.estado }}</td>
      {% if user.username == 'espy' or user == 'orientador' %}
      <td>
        <a href="/citas/{{ cita.id }}" class="btn btn-success">Editar </a>
      </td>
      {% else %}
      <td>
        <a href="/citas/{{ cita.id }}" class="btn btn-success">Ver </a>
      </td>
      {% endif %} {% endfor %}
    </tr>
  </tbody>
</table>

{% endblock %}
