{% extends 'base.html' %} {% block content %}
<h1 class="text-center mt-3 mb-3">Citas pendientes</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Asunto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Fecha</th>
            <th scope="col">Fecha solicitud</th>
            <th scope="col">Solicitante</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for cita in citas %}
        <tr>
            <td>{{ cita.titulo }}</td>
            <td>{{ cita.motivo }}</td>
            <td>{{ cita.fecha }}</td>
            <td>{{ cita.solicitada }}</td>
            <td>{{ cita.user }}</td>
            <td>{{ cita.estado }}</td>
            <td>
                {% if user.username == 'espy' %}
                    <a href="/citas/{{ cita.id }}" class="btn btn-success"
                        >Editar
                    </a>
                {% else %}
                    # Opcion editar de usuario normal
                {% endif %} 
            </td>
            {% endfor %}
        </tr>
    </tbody>
</table>
<a href="/citas" class="btn btn-success">Todas las citas</a>
{% endblock %}
