{% extends 'base.html' %} {% block content %}
<h1>{{cita.titulo}}</h1>
{{error}}
<form method="POST">
  {% csrf_token %}
  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="matricula"
    value="{{ form.matricula.value }}"
  />
  <p>Matricula: {{ form.matricula.value }}</p>

  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="ap_paterno"
    value="{{ form.apellido_paterno.value }}"
  />
  <p>Apellido Paterno: {{ form.apellido_paterno.value }}</p>

  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="ap_materno"
    value="{{ form.apellido_materno.value }}"
  />
  <p>Apellido Materno: {{ form.apellido_materno.value }}</p>

  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="nombre"
    value="{{ form.nombre.value }}"
  />
  <p>Nombre: {{ form.nombre.value }}</p>

  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="semestre"
    value="{{ form.semestre.value }}"
  />
  <p>Semestre: {{ form.semestre.value }}</p>

  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="sexo"
    value="{{ form.sexo.value }}"
  />
  <p>Sexo: {{ form.sexo.value }}</p>

  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="carrera"
    value="{{ form.carrera.value }}"
  />
  <p>Carrera: {{ form.carrera.value }}</p>

  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="asunto"
    value="{{ form.asunto.value }}"
  />
  <p>Asunto: {{ form.asunto.value }}</p>

  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="descripcion"
    value="{{ form.descripcion.value }}"
  />
  <p>Descripcion: {{ form.descripcion.value }}</p>

  <input
    type="hidden"
    id="{{ field.id_for_label }}"
    name="comentarios"
    value="{{ form.comentarios.value }}"
  />
  <p>Comentarios: {{ form.comentarios.value }}</p>

{% if form.estado.value == 'Declinada' %}
    <input
        type="hidden"
        id="{{ field.id_for_label }}"
        name="fecha"
        value="{{ form.fecha.value }}"
    />
    <p>Fecha: {{ form.fecha.value }}</p>

    <input
        type="hidden"
        id="{{ field.id_for_label }}"
        name="estado"
        value="{{ form.estado.value }}"
    />
    <p>Estado: {{ form.estado.value }}</p>

    <button type="submit" name="action" value="salir">Salir</button>
{% else %} 
    {% if not user.is_staff %}
        <input
            type="hidden"
            id="{{ field.id_for_label }}"
            name="fecha"
            value="{{ form.fecha.value }}"
        />
        <p>Fecha: {{ form.fecha.value }}</p>

        <input
            type="hidden"
            id="{{ field.id_for_label }}"
            name="estado"
            value="{{ form.estado.value }}"
        />
        <p>Estado: {{ form.estado.value }}</p>
        <button type="submit" name="action" value="cancel">Declinar cita</button>
        <button type="submit" name="action" value="salir">Salir</button>
    {% else %}
        <p>Fecha: {{ form.fecha }}</p>
        <p>Estado: {{ form.estado }}</p>
        <p>Comentarios: {{ form.comentarios }}</p>
        <button type="submit" name="action" value="save">Guardar</button>
    {% endif %} 
{% endif %}
</form>
{% endblock %}
