{% extends 'base.html' %}

{% block content %}
  <!-- Mensaje de error -->
  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}

  <h1>{{ cita.titulo }}</h1>

  <!-- Formulario para manejar la cita -->
  <form method="POST">
    {% csrf_token %}

    <!-- Información del usuario (campos ocultos) -->
    {{ form.matricula.as_hidden }}
    <p>Matricula: {{ form.matricula.value }}</p>

    {{ form.apellido_paterno.as_hidden }}
    <p>Apellido Paterno: {{ form.apellido_paterno.value }}</p>

    {{ form.apellido_materno.as_hidden }}
    <p>Apellido Materno: {{ form.apellido_materno.value }}</p>

    {{ form.nombre.as_hidden }}
    <p>Nombre: {{ form.nombre.value }}</p>

    {{ form.semestre.as_hidden }}
    <p>Semestre: {{ form.semestre.value }}</p>

    {{ form.sexo.as_hidden }}
    <p>Sexo: {{ form.sexo.value }}</p>

    {{ form.carrera.as_hidden }}
    <p>Carrera: {{ form.carrera.value }}</p>

    {{ form.asunto.as_hidden }}
    <p>Asunto: {{ form.asunto.value }}</p>

    {{ form.descripcion.as_hidden }}
    <p>Descripcion: {{ form.descripcion.value }}</p>

    <!-- Campos adicionales según el estado de la cita -->
    {% if form.estado.value == 'Declinada' %}
      {{ form.comentarios_orientador.as_hidden }}
      <p>Comentarios orientador: {{ form.comentarios_orientador.value }}</p>

      {{ form.comentarios_usuario.as_hidden }}
      <p>Comentarios usuario: {{ form.comentarios_usuario.value }}</p>

      {{ form.fecha.as_hidden }}
      <p>Fecha: {{ form.fecha.value|date:"Y-m-d H:i:s" }}</p>

      {{ form.estado.as_hidden }}
      <p>Estado: {{ form.estado.value }}</p>

      <button type="submit" name="action" value="salir">Salir</button>

    {% else %}
      <!-- Vista para usuarios que no son staff -->
      {% if not request.user.is_staff %}
        {{ form.fecha.as_hidden }}
        <p>Fecha: {{ form.fecha.value|date:"Y-m-d H:i:s" }}</p>

        {{ form.estado.as_hidden }}
        <p>Estado: {{ form.estado.value }}</p>

        {{ form.comentarios_orientador.as_hidden }}
        <p>Comentarios orientador: {{ form.comentarios_orientador.value }}</p>

        <p>Comentarios usuario: {{ form.comentarios_usuario}}</p>
        
        <button type="submit" name="action" value="cancel">Declinar cita</button>
        <button type="submit" name="action" value="save">Guardar</button>
        <button type="submit" name="action" value="salir">Salir</button>

      <!-- Vista para usuarios que son staff -->
      {% else %}
        <p>Fecha: {{ form.fecha }}</p>
        <p>Estado: {{ form.estado }}</p>
        <p>Comentarios orientador: {{ form.comentarios_orientador }}</p>

        {{ form.comentarios_usuario.as_hidden }}
        <p>Comentarios usuario: {{ form.comentarios_usuario.value }}</p>

        <button type="submit" name="action" value="save">Guardar</button>
        <button type="submit" name="action" value="salir">Salir</button>
      {% endif %}
    {% endif %}
  </form>
{% endblock %}
