{% extends 'base.html' %} {% block content %}
{% load static %} 
{% load widget_tweaks %} 
<form action="" method="POST" class="p-5 border rounded">
    {% csrf_token %} 
    {% for field in form %} 
      {% if field.widget.input_type != 'hidden' %}
        <div class="form-group mb-4">
          <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
          {{ field|add_class:"form-control" }} 
          {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
          {% endif %} 
          {% if field.errors %}
            <div class="invalid-feedback">{{ field.errors|striptags }}</div>
          {% endif %}
        </div>
      {% else %} 
        {{ field }} 
      {% endif %} 
    {% endfor %}
    <div class="form-group text-center">
        <button class="btn btn-primary btn-lg">Registrar</button>
      </div>
      </form>   
{% endblock %}
