{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<<html>
    <head>
        <title>Horario</title>
    </head>
    <body>
        <h1>Horario Semanal</h1>
        <table border="1">
            <tr>
                <th>Día</th>
                <th>Hora</th>
                <th>Disponibilidad</th>
                <th>Acciones</th>
            </tr>
            {% for dia, franjas in horario.items %}
                {% for franja, disponibilidad in franjas.items %}
                    <tr>
                        <td>{{ dia }}</td>
                        <td>{{ franja }}</td>
                        <td>{{ disponibilidad.get_status_display }}</td>
                        <td>
                            {% if disponibilidad %}
                                <a href="{% url 'modificar_disponibilidad' disponibilidad.id %}">Modificar</a>
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </body>
    </html>
{% endblock %}
